html, body {
    height: 100%;
    margin: 15px;
    padding: 0;
}

body {
    background-color: #ccc;
}

h1 {
    font-size: 43px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
}

h2 {
    font-size: 22px;
    color: #000000;
    text-align: left;
    margin-left: px;
}

h3 {
    font-size: 35px;
    color: #000000;
    text-align: center;
}

p {
    font-size: 18px;
    color: #000000;
    text-align: center;
    padding: 0 20px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 18px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.contact-box {
    width: 48%;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
}

.contact-box.left {
    background-color: #d0d0d0;
}

.contact-box.right {
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box iframe {
    width: 100%;
    height: 400px;
    max-width: 800px;
    border-radius: 10px;
    border: none;
}


.fine-print {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}


.form-section {
    margin-top: 40px;
    text-align: center;
}

.form-section form {
    width: 50%;
    margin: 0 auto;
}

.form-section textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

.form-section textarea:focus {
    outline: none;
    border-color: #7a1f1f;
}


@media screen and (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
    }

    .contact-box {
        width: 90%;
        margin-bottom: 20px;
    }

    .form-section form {
        width: 90%;
    }

    .contact-box iframe {
        height: 300px; 
    }
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}
