html, body {
    height: 100%;
    margin: 15px;
    padding: 0;
}
body { 
    background-color: #ccc;
}
h1 {
    font-size: 43px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
}
h2 {
    font-size: 22px;
    color: #000000;
    text-align: left;
    margin-left: px;
}
h3 {
    font-size: 35px;
    color: #000000;
    text-align: center;
}
p {
    font-size: 18px;
    color: #000000;
    text-align: center;
    padding: 0 20px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn {
    font-size: 18px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
.openbtn:hover {
    background-color: #444;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
img:hover {
    scale: 1.05;
    transition: 0.5s;
}
iframe {
   width: 400px;
    height: 400px;
    display: block;
    margin: 30px auto;
    border-radius: 8px;
    border: none;
    background-color: rgba(240, 0, 0, 0.1);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
    transition: all 0.4s;
}
iframe:hover {
    transform: scale(1.15);
    transition: 0.25s;
}